@{ ViewData["Title"] = "Gallery Page";

    // feed userid so that we can use userid to retrieve all relevant purchasedhistoryids
    // then based on each purchasedhistoryid, iterate through icollection<purchaseditems>
    // outer loop to display based on productId
    // inner loop for each productId to iterate through activationcode as dropdown.
    List<Product> products = (List<Product>)ViewData["products"];
    List<PurchasedItems> AllItems = (List<PurchasedItems>)ViewData["PurchasedItems"];
    List<int> productIds = new List<int>();
    foreach (PurchasedItems item in AllItems.OrderBy(x => x.ProductId))
    {
        if (!productIds.Contains(item.ProductId))
        {
            productIds.Add(item.ProductId);
        }
    }

}

<style type="text/css">
    .cart {
        width: 1000px;
        padding: 0 10px 10px;
        border: 10px solid #D5E5F5;
    }

    .cart-title {
        margin-bottom: 10px;
        font-size: 20px;
        border-bottom: 1px solid #AED2FF;
        line-height: 30px;
        height: 30px;
        font-weight: 700;
        text-indent: 15px;
        color: #333;
        font-family: 'Microsoft YaHei';
    }

    .trade-detail {
        margin-bottom: 10px;
        font-size: 15px;
        border-bottom: 1px solid #AED2FF;
        line-height: 30px;
        height: 30px;
        font-weight: 700;
        color: #333;
        font-family: 'Calibri';
    }

    .cart-table {
        width: 100%;
        margin: 50px auto;
        border-color: #0A0200;
        font-size: 12px;
        font-family: Verdana,"Microsoft YaHei";
        color: #333333;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hello Guest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Products"><u>Products</u></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Logout"><u>Logout</u></a>
                </li>
            </ul>
        </div>
    </div>
    <br />

    <div class="MyPurchase">

        <div class="cart-title">My Purchase</div>
        <table class="cart-table">
            @for (int i = 0; i < productIds.Count(); i++)
            {
                @:<tr>
                    <td>

                        <div class="card" style="width: 18rem;">

                            <img class="card-img-top" src="@products[productIds[i]-1].ImagePath" alt="Card image cap">

                            <div class="card-body">

                                <h5 class="card-title">@products[productIds[i]-1].ProductName</h5>

                                <p class="card-text">@products[productIds[i]-1].Description</p>

                                <a href="@products[productIds[i]-1].DownloadLink" class="btn btn-primary">Download</a>

                            </div>

                        </div>

                    </td>

                    <td class=" trade-detail">
                        Purchased On: 10/4/2020 <br> Quantity: @AllItems.Count(x => x.ProductId == productIds[i])
                        <br><div class="dropdown">
                            Activation Code:
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @foreach (PurchasedItems item in  AllItems.Where(x => x.ProductId == productIds[i]))
                                    {
                                        <a class="dropdown-item" href="#">@item.ActivationCode</a>
                                    }

                                </div>
                            </button>

                        </div>
                    </td>


                @:</tr>
            }



        </table>
    </div>
</div>
