@{ 
    ViewData["Title"] = "Gallery Page";
    List<PurchasedHistory> histories = (List<PurchasedHistory>)ViewData["Histories"];
    List<Product> products = (List<Product>)ViewData["Products"];
}

<style type="text/css">
    .cart {
        width: 1000px;
        padding: 0 10px 10px;
        border: 10px solid #D5E5F5;
    }

    .cart-title {
        margin-bottom: 10px;
        font-size: 20px;
        border-bottom: 1px solid #AED2FF;
        line-height: 30px;
        height: 30px;
        font-weight: 700;
        text-indent: 15px;
        color: #333;
        font-family: 'Microsoft YaHei';
    }

    .trade-detail {
        margin-bottom: 10px;
        font-size: 15px;
        border-bottom: 1px solid #AED2FF;
        line-height: 30px;
        height: 30px;
        font-weight: 700;
        color: #333;
        font-family: 'Calibri';
    }

    .cart-table {
        width: 100%;
        margin: 50px auto;
        border-color: #0A0200;
        font-size: 12px;
        font-family: Verdana,"Microsoft YaHei";
        color: #333333;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hello @ViewData["Username"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Products"><u>Products</u></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Logout"><u>Logout</u></a>
                </li>
            </ul>
        </div>
    </div>
    <br />

    <div class="MyPurchase">
        <div class="cart-title">My Purchases</div>
        <table class="cart-table">
            
            @foreach (PurchasedHistory history in histories.OrderBy(x => x.Id))
            {
                DateTime start = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc);
                DateTime date = start.AddSeconds(history.DateTime).ToLocalTime();

                List<int> productIds = new List<int>();

                foreach (PurchasedItems item in history.PurchasedItems.OrderBy(x => x.ProductId))
                {
                    if (!productIds.Contains(item.ProductId))
                    {
                        productIds.Add(item.ProductId);
                    }
                }

                // iterate by PurchasedItem for that HistoryId in increasing productId number
                foreach (int id in productIds)
                {
                    @:<tr>
                        <td>
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="@products[id-1].ImagePath" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@products[id - 1].ProductName</h5>
                                    <p class="card-text">@products[id - 1].Description</p>
                                    <a href="@products[id-1].DownloadLink" target="_blank" class="btn btn-primary">Download</a>
                                </div>
                            </div>
                        </td>
                        <td class=" trade-detail">
                            Purchased On: @date.ToString("MMM dd yyyy hh:mm tt"). <br> Quantity: @history.PurchasedItems.Where(x => x.ProductId == id).Count()
                            <br>
                            @if (history.PurchasedItems.Where(x => x.ProductId == id).Count() > 1)
                            {
                                <label for="activation">Activation Codes: </label>
                                <select name="activation" id="activation">

                                    @foreach (PurchasedItems item in history.PurchasedItems.Where(x => x.ProductId == id))
                                    {
                                        <option value="@item.ActivationCode">@item.ActivationCode</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <label for="activation">Activation Code: @history.PurchasedItems.FirstOrDefault(x => x.ProductId == id).ActivationCode</label>
                            }
                        </td>
                    @:</tr>
                }
            }
        </table>
    </div>
</div>